/* ESTILO GERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --font-family: "Inter", sans-serif;
  --h1: 800 24px/135% var(--font-family);
  --text: 400 16px/140% var(--font-family);
}

header{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 2rem 0;
}